[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.4"
djangorestframework = "==3.11.2"
django-rest-swagger = "*"

[dev-packages]
"flake8" = "*"
behave-django = "*"
model-mommy = "*"
coverage = "*"

[requires]
python_version = "3.6"
